/*.c-container{
    justify-content: space-between;
}*/
.c-container>div{
    flex:1
}
.c-right{
    width: 100%;
}
.img-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(232, 232, 232, 93%);
}

.img-container>img{
    width: 100%;
    height: 100%;
}
.c-left{
    gap: 0.5rem;
}
@media (max-width:1024px){
    .c-container{
        flex-direction: column;
    }
    .c-right{
        justify-content: center;
        width: 100%;
    }
    .img-container{
        width: 95%;
        height: 29rem;
    }
}